<html>
<head>
    <link href="/css/cover.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <main class="cover">   
        <div class="cover-header">
            <div class="cover-header-content">
                <div>
                    <div class="cover-logo">
                        <img src="~/img/cover-logo.png" />
                    </div>
                </div>
                <div class="cover-header-description">
                    Innovative and unlimited reporting based on javascript templating engines
                </div>
            </div>
        </div>
        <div class="cover-footer">
            <div class="cover-footer-square"></div>
            <div class="cover-footer-bg"></div>
            <div class="cover-footer-content">
                <span class="cover-footer-title-primary">DETAILED</span>
                <br />
                <span class="cover-footer-title-secondary">STOCK REPORT</span>
            </div>
        </div>
    </main>
</body>
</html>